{% extends "decharges/base.html" %}
{% load bulma_tags %}

{% block title %}
  {% if cts %}
  Mise à jour de la consommation en CTS ponctuel
  {% else %}
  Ajout de la consommation en CTS ponctuel
  {% endif %}
{% endblock title %}

{% block maintitle %}
  {% if cts %}
  Mise à jour de la consommation en CTS ponctuel
  {% else %}
  Ajout de la consommation en CTS ponctuel
  {% endif %}
{% endblock maintitle %}
{% block subtitle %}
  {% if cts %}
  Mise à jour de la consommation en CTS ponctuel de {{ request.user.username }} pour l'année {{ cts.annee }}-{{ cts.annee|add:1 }}
  {% else %}
  Ajout de la consommation en CTS ponctuel de {{ request.user.username }} pour l'année {{ cts.annee }}-{{ cts.annee|add:1 }}
  {% endif %}
{% endblock %}

{% block content %}
  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header">
        <h2 class="card-header-title">
          {% if cts %}
          Mise à jour de la consommation en CTS ponctuel
          {% else %}
          Ajout de la consommation en CTS ponctuel
          {% endif %}
        </h2>
      </header>
      <div class="card-content">
        {% if cts %}
          {% if request.user.is_federation %}
          <p class="mb-4">Les syndicats et la fédération ont au total <b>{{ total_etp_non_consommes|floatformat:3 }}</b> ETP non consommés, soit {{total_demi_journees_non_consommees|floatformat:0 }} demi-journées</p>
          {% else %}
              <p class="mb-4">Le syndicat a au total <b>{{ total_etp_non_consommes|floatformat:3 }}</b> ETP non consommés, soit {{total_demi_journees_non_consommees|floatformat:0 }} demi-journées</p>
          {% endif %}
          <div class="button mb-6 is-info is-small" id="attribuer-cts">Attribuer les demi-journées au CTS</div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|bulma }}
          <div class="field">
            <button type="submit" class="button is-success">
              {% if cts %}
              Modifier
              {% else %}
              Créer
              {% endif %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <script>
  bouton = document.getElementById("attribuer-cts")
  input = document.getElementById("id_demi_journees_de_decharges")
  bouton.onclick = () => {
    input.value = parseFloat(input.value) + parseFloat({{total_demi_journees_non_consommees|floatformat:3 }})
  }
  </script>

{% endblock content %}