{% extends "decharges/base.html" %}
{% load bulma_tags %}

{% block title %}Fusionner deux bénéficiaires{% endblock title %}

{% block maintitle %}Fusionner deux bénéficiaires{% endblock maintitle %}
{% block subtitle %}
  Cette page vous permet de fusionner deux bénéficiaires. Merci d'indiquer ci-dessous l'action souhaitée.
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header">
        <h2 class="card-header-title">Doublons sélectionnés</h2>
      </header>
      <div class="card-content columns">
        <div class="column">
          <h3 class="title is-6">Nom prénom : {{doublon_1.civilite}}
          {{doublon_1.nom}} {{doublon_1.prenom}}</h3>
          <p>UAI : {{doublon_1.code_etablissement_rne}}</p>
          <p>Heures de décharge : {{doublon_1.heures_de_decharges}}</p>
          <p>Heures d'obligation de service : {{doublon_1.heures_d_obligation_de_service}}</p>
          <p>CORPS : {{doublon_1.corps}}</p>
          <p>Création : {{doublon_1.cree_a|date:'d-m-Y'}} {% if doublon.modifie_a %}- Modification : {{doublon_1.modifie_a|date:'d-m-Y'}}{% endif %}</p>
          <div class="mt-5 is-flex">
            <input type="submit" name="first_not_modify" value="Conserver ce profil" class="button is-small mr-1 is-success">
            <input type="submit" class="button is-small mr-1 is-warning" name="first_modify" value="Conserver et modifier ce profil">
          </div>
        </div>
        <div class="column">
          <h3 class="title is-6">Nom prénom : {{doublon_2.civilite}} {{doublon_2.nom}} {{doublon_2.prenom}}</h3>
          <p>UAI : {{doublon_2.code_etablissement_rne}}</p>
          <p>Heures de décharge : {{doublon_2.heures_de_decharges}}</p>
          <p>Heures d'obligation de service : {{doublon_2.heures_d_obligation_de_service}}</p>
          <p>CORPS : {{doublon_2.corps}}</p>
          <p>Création : {{doublon_2.cree_a|date:'d-m-Y'}} {% if doublon.modifie_a %}- Modification : {{doublon_2.modifie_a|date:'d-m-Y'}}{% endif %}</p>
          <div class="mt-5 is-flex">
            <input type="submit" name="second_not_modify" value="Conserver ce profil" class="button is-small mr-1 is-success">
            <input type="submit" class="button is-small mr-1 is-warning" name="second_modify" value="Conserver et modifier ce profil">
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

{% endblock content %}
