{% extends "decharges/base.html" %}
{% load bulma_tags %}

{% block title %}Liste des doublons potentiels{% endblock title %}
{% block maintitle %}Liste des doublons potentiels{% endblock maintitle %}

{% block subtitle %}Sur cette page, vous trouverez la liste des doublons potentiels.<br> Sont considérées comme doublons deux entrées avec au moins deux attributs identiques (nom/prénom, prénom/UAI, nom/UAI).
{% endblock subtitle %}

{% block content %}

  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header is-align-items-center">
        <h2 class="card-header-title">Doublons potentiels</h2>
        {% if doublons %}
        <div class="button is-small is-warning mr-2" id="merge-button">
          <span class="fa fa-sm fa-link mr-2"></span>Fusionner 2 personnes
        </div>
        {% endif %}
      </header>
      <div class="card-content">
        {% if doublons %}
        <table class="table is-bordered is-narrow is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>UAI</th>
            </tr>
          </thead>
          <tbody>
            {% for doublon in doublons %}
              <tr>
                <td>{{ doublon.nom }}</td>
                <td>{{ doublon.prenom }}</td>
                <td class="is-flex is-justify-content-space-between">
                  {{ doublon.code_etablissement_rne }}
                  <label class="checkbox is-hidden">
                    <input type="checkbox" id="{{doublon.pk}}">
                  </label>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          Aucun doublon trouvé
        {% endif %}
        <form method="post" class="is-hidden" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        {{ form|bulma }}
        <div class="field">
          <button type="submit" class="button is-primary" id="submit-button">Fusionner</button>
        </div>
        </form>
      </div>
    </div>
  </section>


<script>
  doublon_1 = document.getElementById("id_doublon_1")
  doublon_2 = document.getElementById("id_doublon_2")
  formulaire = document.getElementById("form")
  mergeButton = document.getElementById("merge-button")
  submitButton = document.getElementById("submit-button")
  checkbox_fields = document.getElementsByClassName('checkbox')
  error = document.getElementById("error")

  mergeButton.addEventListener('click', () => {
    formulaire.classList.remove("is-hidden")
    Array.from(checkbox_fields).forEach((c) => {
      c.classList.remove("is-hidden")
    })
  })

  submitButton.addEventListener('click', () => {
    event.preventDefault()
    erreur = document.getElementById("erreur")
    if (erreur) {
      erreur.remove()
    }
    checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
    if (checkboxes.length !== 2){
      submitButton.insertAdjacentHTML(
          'beforebegin',
          `<div id="erreur" class="my-2"><span class="help is-danger">Merci de selectionner exactement 2 bénécifiaires</span></div>`
        )
    } else {
      doublon_1.value = checkboxes[0].id
      doublon_2.value = checkboxes[1].id
      document.getElementById("form").requestSubmit();
    }

  })
</script>

{% endblock %}
