{% extends "decharges/base.html" %}
{% load data_manipulation %}

{% block title %}Accueil{% endblock title %}

{% block maintitle %}Bienvenue !{% endblock maintitle %}
{% block subtitle %}
  Vous visualisez la structure <b>{{ user.username }}</b>{% if user.academie %}, faisant partie de l'académie de {{ user.academie.nom }}{% endif %}
{% endblock %}

{% block content %}
  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header">
        <h2 class="card-header-title">Récapitulatif des décharges</h2>
      </header>
      <div class="card-content">
        <ul>
          <li>
            {% if not view_only and request.user.is_federation %}
            <b>Temps total alloué à la fédération&nbsp;:</b>
            {% else %}
            <b>Temps reçu de la fédération&nbsp;:</b>
            {% endif %}
            {{ temps_recus_par_la_federation|floatformat:3 }} ETP
            {% if not view_only %}
              {% if request.user.is_federation %}
                {% if temps_decharge_federation %}
                <a href="{% url 'decharge:modifier_quota_federation' temps_decharge_federation.pk %}" class="button is-info icon"><span class="fa fa-edit"></span></a>
                {% else %}
                <a href="{% url 'decharge:ajouter_quota_federation' %}" class="button is-info icon"><span class="fa fa-edit"></span></a>
                {% endif %}
              {% endif %}
            {% endif %}
          </li>
          <li><b>Temps de décharge consommé&nbsp;:</b> {{ temps_utilises_total|floatformat:3 }} ETP</li>
          <li>
            <b>CTS ponctuel consommé&nbsp;:</b> {% if cts_consommes %}{{ cts_consommes.etp_utilises|floatformat:3 }}{% else %}0{% endif %} ETP
            {% if cts_consommes %}({{ cts_consommes.demi_journees_de_decharges }} demi-journées){% endif %}
            {% if not view_only %}
              {% if decharges_editables or request.user.is_federation %}
                {% if cts_consommes %}
                  <a href="{% url 'decharge:modifier_cts' cts_consommes.pk %}" class="button is-info icon"><span class="fa fa-edit"></span></a>
                {% else %}
                  <a href="{% url 'decharge:ajouter_cts' %}" class="button is-info icon"><span class="fa fa-edit"></span></a>
                {% endif %}
              {% endif %}
            {% endif %}
          </li>
          {% if temps_recus_par_des_syndicats > 0 %}
          <li><b>Temps reçu des syndicats de l'académie&nbsp;:</b> {{ temps_recus_par_des_syndicats|floatformat:3 }} ETP</li>
          {% endif %}
          {% if temps_donnes_total > 0 %}
          <li><b>Temps donné aux syndicats {% if not request.user.is_federation %}de l'académie{% endif %}&nbsp;:</b> {{ temps_donnes_total|floatformat:3 }} ETP</li>
          {% endif %}
        </ul>
        <hr>
        {% if temps_restant > 0 %}
        Il vous reste <strong>{{ temps_restant|floatformat:3 }} ETP</strong> non utilisés
        {% else %}
        <p class="has-text-danger">
          Vous dépassez votre quota de <strong class="has-text-danger">{{ temps_restant|abs|floatformat:3 }} ETP</strong>
        </p>
        {% endif %}
      </div>
    </div>

    <div class="card mt-6">
      <header class="card-header is-align-items-center">
        <h2 class="card-header-title">Bénéficiaires {% if request.user.is_federation %}de décharges fédérales{% endif %}</h2>
        {% if not view_only %}
          {% if decharges_editables or request.user.is_federation %}
          <a class="button is-small is-success mr-2" href="{% url 'decharge:ajouter_beneficiaire' %}">
            <span class="fa fa-sm fa-plus mr-2"></span>Ajout d'un·e bénéficiaire
          </a>
          {% endif %}
        {% endif %}
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Civilité</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Temps de décharge</th>
              <th><abbr title="Heures d'obligation de service">ORS</abbr></th>
              <th><abbr title="Code Corps">Corps</abbr></th>
              <th><abbr title="Code établissement">UAI</abbr></th>
              <th>Décharge en ETP</th>
              {% if decharges_editables or request.user.is_federation %}
              <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for temps_utilise in temps_utilises %}
            <tr>
              <td>{{ temps_utilise.civilite }}</td>
              <td>{{ temps_utilise.prenom }}</td>
              <td>{{ temps_utilise.nom }}</td>
              <td>
                {{ temps_utilise.heures_pleines_de_decharges }} h
                {% if temps_utilise.minutes_de_decharges > 0 %}{{ temps_utilise.minutes_de_decharges }}
                {% endif %}
              </td>
              <td>{{ temps_utilise.heures_d_obligation_de_service }}</td>
              <td>{{ temps_utilise.corps.code_corps }}</td>
              <td>{{ temps_utilise.code_etablissement_rne }}</td>
              <td>{{ temps_utilise.etp_utilises|floatformat:3 }} {% if temps_utilise.est_une_decharge_solidaires %}(décharge solidaires){% endif %}</td>
              <td>
              {% if not view_only %}
                {% if decharges_editables or request.user.is_federation %}
                  <a class="button is-info icon" href="{% url 'decharge:modifier_beneficiaire' temps_utilise.pk %}"><span class="fa fa-edit"></span></a>
                  <a class="button is-danger icon" href="{% url 'decharge:supprimer_beneficiaire' temps_utilise.pk %}"><span class="fa fa-trash-alt"></span></a>
                </td>
                {% endif %}
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% for syndicat, temps_utilises_syndicat in temps_utilises_par_syndicat.items %}
    <div class="card mt-6">
      <header class="card-header is-align-items-center">
        <h2 class="card-header-title">Bénéficiaires du syndicat : {{ syndicat }}</h2>
        {% if not view_only %}
          <a class="button is-small is-success mr-2" href="{% url 'decharge:ajouter_beneficiaire' %}?syndicat={{ syndicat|urlencode }}">
            <span class="fa fa-sm fa-plus mr-2"></span>Ajout d'un·e bénéficiaire
          </a>
        {% endif %}
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Civilité</th>
              <th>Prénom</th>
              <th>Nom</th>
              <th>Temps de décharge</th>
              <th><abbr title="Heures d'obligation de service">ORS</abbr></th>
              <th><abbr title="Code Corps">Corps</abbr></th>
              <th><abbr title="Code établissement">UAI</abbr></th>
              <th>Décharge en ETP</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for temps_utilise in temps_utilises_syndicat %}
            <tr>
              <td>{{ temps_utilise.civilite }}</td>
              <td>{{ temps_utilise.prenom }}</td>
              <td>{{ temps_utilise.nom }}</td>
              <td>
                {{ temps_utilise.heures_pleines_de_decharges }} h
                {% if temps_utilise.minutes_de_decharges > 0 %}
                  {{ temps_utilise.minutes_de_decharges }}
                {% endif %}
              </td>
              <td>{{ temps_utilise.heures_d_obligation_de_service }}</td>
              <td>{{ temps_utilise.corps.code_corps }}</td>
              <td>{{ temps_utilise.code_etablissement_rne }}</td>
              <td>{{ temps_utilise.etp_utilises|floatformat:3 }}</td>
              <td>
                {% if not view_only %}
                  <a class="button is-info icon" href="{% url 'decharge:modifier_beneficiaire' temps_utilise.pk %}"><span class="fa fa-edit"></span></a>
                  <a class="button is-danger icon" href="{% url 'decharge:supprimer_beneficiaire' temps_utilise.pk %}"><span class="fa fa-trash-alt"></span></a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}

    <div class="card mt-6">
      <header class="card-header is-align-items-center">
        <h2 class="card-header-title">ETP donnés {% if view_only or not request.user.is_federation %}(mutualisation académique){% endif %}</h2>
        {% if not view_only %}
          {% if decharges_editables or request.user.is_federation %}
          <a class="button is-small is-success mr-2" href="{% url 'decharge:ajouter_mutualisation_academique' %}">
            <span class="fa fa-sm fa-plus mr-2"></span>
            {% if request.user.is_federation %}
            Attribuer du temps
            {% else %}
            Partager mon temps
            {% endif %}
          </a>
          {% endif %}
        {% endif %}
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Syndicat bénéficiaire</th>
              <th>ETP donnés</th>
              {% if decharges_editables or request.user.is_federation %}
              <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for temps_donne in temps_donnes %}
            <tr>
              <td>{{ temps_donne.syndicat_beneficiaire.username }}</td>
              <td>{{ temps_donne.temps_de_decharge_etp|floatformat:3 }}</td>
              <td>
              {% if not view_only %}
                {% if decharges_editables or request.user.is_federation %}
                  <a class="button is-primary icon" title="Consulter la saisie du syndicat" href="{% url 'decharge:index-syndicat' temps_donne.syndicat_beneficiaire.pk %}"><span class="fa fa-eye"></span></a>
                  <a class="button is-info icon" href="{% url 'decharge:modifier_mutualisation_academique' temps_donne.pk %}"><span class="fa fa-edit"></span></a>
                  <a class="button is-danger icon" href="{% url 'decharge:supprimer_mutualisation_academique' temps_donne.pk %}"><span class="fa fa-trash-alt"></span></a>
                {% endif %}
              {% endif  %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mt-6">
      <header class="card-header is-align-items-center">
        <h2 class="card-header-title">Besoin d'aide ?</h2>
      </header>
      <div class="card-content">
        <p>
          Pour toute question, n'hésitez pas nous envoyer un mail à <a href="mailto:decharges@sudeducation.org">decharges@sudeducation.org</a>. On se fera un plaisir de vous répondre !
        </p>
      </div>
    </div>
  </section>
{% endblock content %}
