{% extends "decharges/base.html" %}

{% block title %}Syndicats à relancer{% endblock title %}

{% block maintitle %}Syndicats à relancer{% endblock maintitle %}
{% block subtitle %}Sur cette page, vous trouverez la liste des syndicats qui dépassent leur quota ou qui n'ont rempli aucun champ sur la plateforme pour l'année {{ annee }}-{{ annee|add:1 }}{% endblock subtitle %}

{% block content %}
  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header">
        <h2 class="card-header-title">Syndicats n'ayant rempli aucun champ</h2>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Courriel</th>
              <th>Dernière connexion</th>
            </tr>
          </thead>
          <tbody>
          {% for syndicat in syndicats_n_ayant_rien_rempli %}
            <tr>
              <td>{{ syndicat.username }}</td>
              <td>{{ syndicat.email }}</td>
              <td>
                {% if syndicat.last_login %}
                {{ syndicat.last_login }}
                {% else %}
                Jamais
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="container pb-6">
    <div class="card pt-2">
      <header class="card-header">
        <h2 class="card-header-title">Syndicats dépassant leur quota</h2>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Courriel</th>
              <th>Dépasse de</th>
              <th>Dernière connexion</th>
            </tr>
          </thead>
          <tbody>
          {% for syndicat, depasse in syndicats_depassant_leur_quota %}
            <tr>
              <td>{{ syndicat.username }}</td>
              <td>{{ syndicat.email }}</td>
              <td>{{ depasse|floatformat:3 }} ETP</td>
              <td>
                {% if syndicat.last_login %}
                {{ syndicat.last_login }}
                {% else %}
                Jamais
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
