{% load static bulma_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %} | SUD éducation</title>
  <link rel="shortcut icon" href="{% static 'img/icon.jpg' %}">
  {% block css %}
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
  {% endblock css %}
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="{% static 'img/logoSUD2.svg' %}" width="112" height="28" alt="">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarRef">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarRef" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Accueil
        </a>

        {% if request.user.is_federation %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Administration
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'decharge:import_temps' %}">
              Import des temps
            </a>
            <a class="navbar-item" href="{% url 'decharge:historique' %}">
              Historique
            </a>
            <a class="navbar-item" href="{% url 'decharge:export_ministere' %}">
              Export ministère
            </a>
            <a class="navbar-item" href="{% url 'decharge:syndicats_a_relancer' %}">
              Syndicats à relancer
            </a>
            <a class="navbar-item" href="{% url 'decharge:synthese_cts' %}">
              Synthèse et CTS utilisés
            </a>
            <a class="navbar-item" href="{% url 'decharge:renommer_beneficiaire' %}">
              Renommer/muter un·e bénéficiaire
            </a>
            <a class="navbar-item" href="{% url 'decharge:identifier_doublons' %}">
              Identifier les doublons
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="{% url 'admin:parametre_parametresdapplication_changelist' %}">
              Configuration
            </a>
          </div>
        </div>
        {% endif %}
        <a class="navbar-item" href="mailto:decharges@sudeducation.org">
          Besoin d'aide ?
        </a>
      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if request.user.is_anonymous %}
            <a class="button is-light" href="{% url 'login' %}">
              Connexion
            </a>
            {% else %}
            <b class="navbar-item">{{ user.username }}</b>
            <a class="button is-light" href="{% url 'logout' %}">
              Déconnexion
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block messages %}
    {% if messages %}
      <div class="container mt-4">
        <div class="messages columns is-desktop">
          <div class="column">
            {% for message in messages %}
              <div class="notification {% if message.tags %}is-{{ message.tags|bulma_message_tag }}{% endif %}">
                <button class="delete remove-notification" aria-label="delete"></button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endblock messages %}

  <section class="hero is-sud">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {% block maintitle %}{% endblock maintitle %}
        </h1>
        <p class="subtitle">
          {% block subtitle %}{% endblock subtitle %}
        </p>
      </div>
  </section>

  <div class="container">
  {% block content %}{% endblock content %}
  </div>

{% block javascript %}
  <script type="application/javascript" src="{% static 'js/app.js' %}"></script>
  {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
</body>
</html>
